/* You can add global styles to this file, and also import other style files */
/*
  --page-back: #222427; //Dark Gray / Black
  --card-back: #303033;
  --txt-color: #ced0d3; // Light Gray

  --header-back: #000000; //Black
  --header-color: #ffffff; //White

  --subheader-back: #d95a00; //Orange
  --subheader-color: #000000; //White
*/

:root {
  --page-back: #dddddd; //Dark Gray / Black
  --card-back: #ffffff;
  --txt-color: #000000; // Light Gray

  --header-back: #000000; //Black
  --header-color: #ffffff; //White

  --subheader-back: #d95a00; //Orange
  --subheader-color: #ffffff; //White
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: var(--page-back);
  color: var(--txt-color);
}

div {
  color: var(--txt-color);
}

.card-content {
    padding:10px;

  & mat-card, mat-card-content {
    border: 0px;
    border-radius: 6px;
    background-color: var(--card-back);
  }
}

.page-header {
  font-weight: bold;
  padding: 15px;
  font-size: 14pt;
  background-color: var(--header-back);
  color: var(--header-color);
  text-align: right;
  justify-content: flex-end;
}

.page-sub-header {
  font-weight: bold;
  padding: 8px;
  font-size: 12pt;
  background-color: var(--subheader-back);
  color: var(--subheader-color);
  font-style: italic;
}

.pref-table {
  color: var( --txt-color);
  padding: 6px;
  font-size: 12pt;
  width:100%;

  & thead {
    & tr {
    }

    & th {
      text-align: left;
      border-bottom: 1px solid #000000;
      padding: 8px;
    }
  }

  & tbody {
    & tr {
    }

    & td {
      color: var(--txt-color);
      padding: 8px;
      border-bottom: 1px solid #000000;
    }
  }
}

.cancel-button{
    color: #c31616 !important; //RED
    cursor:pointer;
}

.setting {
  color: var(--txt-color);
  display: flex;
  flex-direction: row;

  & div {
    padding: 8px;
    align-items: center;
    display: flex;
  }
}
.setting-select {
  flex-direction: row;
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.setting-save {
  padding: 10px;
  text-align: right;

  & button{
      width:200px;
  }
}

.settings-color {
  padding-left: 0px !important;
  display: inline-block;
  width: 80px;

  & .color-input {
    background: rgb(0, 0, 0);
    height: 56px;
    border: 1px solid var(--txt-color);
    border-radius: 5px;
    width: 70px;
    margin-bottom: 15px;
  }
}
.color-text {
  display: inline-block;
  padding-left: 16px;
}

.action-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 25;

  & div {
    background-color: var(--subheader-back);
    border-radius: 20px;
    color: #fff;
    box-shadow: -3px 4px 5px #1a1919;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    opacity: 0.1;
  }

  & div:hover {
    opacity: 1;
  }
}
.image-viewer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 20;
}
.back-image {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.2;
}
.pause-bar {
  position: absolute;
  bottom: 10px;
  left: 0px;
  color: #ffffff;
  font-size: 9pt;
  right: 0px;
  text-align: center;
  background-color: #000000;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0.4;
  padding: 10px;
}

.playlist-view {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 150px;
  background-color: var(--page-back);

  & ul {
    margin: 0px;
    list-style: none;
    padding: 0px;

    & li {
      padding: 4px;
    }
  }

  & .play-list {
    padding: 10px;
    margin: 0px;
    overflow: auto;
    position:absolute;
    top:36px;
    bottom:36px;
    left:0px;
    right:0px;
  }
}

.playlist-nav {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  cursor: pointer;
  display: flex;
}

.time-display{
    position: absolute;
    bottom:5px;
    left:5px;
    font-size:9pt;
    color:#ffffff;
    opacity:.3;
}
